
{% extends "base.html" %}

{% load static from staticfiles %}


{% block title %}About{% endblock %}

{% block content %}
  <img style="width:100%;" id="image" src="{% static '/images/ftmap_example.png' %}">

  <div style="margin:70px">
    <p>Thanks for your interest in FTMap. Please contact us if you have any questions not listed on this page.</p>
    <h2>Usage</h2>
    <p></p>
    <h2>Trouble Shooting</h2>
    <p></p>
    <h2>Frequently Asked Questions</h2>
    <ul>
      <li><a href="#account">Do I have to create an account to use FTPlus?</a></li>
      <li><a href="#username">What if I forgot my password or username?</a></li>
      <li><a href="#change-user-data">What if I no longer have access to the email address used to create my account?</a></li>
      <li><a href="#confidentiality">Will my uploaded structures be kept confidential?</a></li>
      <li><a href="#delete">How do I delete my account?</a></li>
      <li><a href="#result-content">What is the difference between a probe, probe cluster, consensus site, crosscluster
        and hotspot?</a></li>
      <li><a href="#probes">What probes are used for mapping?</a></li>
      <li><a href="#cluster-names">What are the numbers after "crosscluster"?</a></li>
      <li><a href="#source-code">Can I have a copy of the source code?</a></li>
      <li><a href="#cite">How do I cite FTPlus?</a></li>
    </ul>

    <a name="account"><h3>Do I have to create an account to use FTPlus?</h3></a>
    <p>An account is required for the use of FTPlus. This ensures that you can make the most out of FTPlus by keeping
    all of your jobs secure and easy to access.</p>
    <a name="username"><h3>What if I forgot my password or email?</h3></a>
    <p>To reset your password, simply go to the login page and select "Forgot Password". If you have forgotten the
      email address you used to create an account please contact us and include your first and last name. Once you have
      the email address associated with your account, you can reset your password.
    </p>
    <a name="change-user-data"><h3>What if I no longer have access to the email address used to create my account??</h3></a>
    <p>Please use the contact form so that we can update your account.</p>
    <a name="confidentiality"><h3>Will my uploaded structures be kept confidential?</h3></a>
    <p>While we do our best to maintain best practices, we cannot guarantee confidentiality. However, jobs are never
      shared with other users and are permanently deleted after 30 days. If confidentiality is required, a commercial
      version can be obtained through <a href="https://acpharis.com/" target="_blank">Acpharis</a>.</p>
    <a name="delete"><h3>How do I delete my account?</h3></a>
    <p>To delete your account, please go to your homepage and select "My Account". There is an option to delete your
    account.</p>
    <a name="result-content"><h3>What is the difference between a probe, probe cluster, consensus site, crosscluster
      and hotspot?</h3></a>
    <p></p>
    <a name="probes"><h3>What probes are used for mapping?</h3></a>
    <p>There are 16 probes that are used for mapping.</p>
    <a name="cluster-names"><h3>What are the numbers after "crosscluster"?</h3></a>
    <p>The numbers after crosscluster represent the rank of the hotspot (idexed at 0) followed by the number of
      probe clusters in the hotspot. For example crosscluster.000.024 is the highest ranked hotspot and it is comprised
      of 24 probe clusters.</p>
    <a name="source-code"><h3>Can I have a copy of the source code?</h3></a>
    <p>Unfortunately, we are unable to provide the source code for FTPlus. Please contact
      <a href="https://acpharis.com/" target="_blank">Acpharis</a> if you would like to run FTPlus on your own servers.</p>
    <a name="cite"><h3>How do I cite FTPlus?</h3></a>
    <p>Please cite the following references:<br></p>
  </div>
{% endblock %}