{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %}Contact Us{% endblock %}

{% block content %}
  <img style="width:100%;" src="{% static '/images/ftmap_example.png' %}">
  <div style="margin:70px">
    <h1>Contact Us</h1>
    <p>Please use the contact form on the <a href="https://www.vajdalab.org/contact" target="_blank">Vajda Lab website</a>
      and select "FTMap" as the category.<br>
      If contacting us about a particular job, please include the job number in your message.</p>
  </div>

{% endblock %}
