{% extends "base.html" %}

{% load static from staticfiles %}


{% block title %}Home{% endblock %}

{% block content %}
  <img style="width:100%;" src="{% static '/images/ftmap_example.png' %}">
  <div style="margin:70px">
    <h1>Welcome to FTPlus</h1>
    <p>FTPlus is a single server designed to combine the best features of FTMap, FTSite and FTDyn into a simple,
      user-friendly website. The algorithms are the same but the user experience is even better. We thank you for your
      patience as we release these features.
    </p>
  </div>
{% endblock %}