{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}New Job{% endblock %}


{% block content %}
<div style="margin:70px">
  {% if config.ACCEPTING_JOBS == 'yes' %}
    <form action="." method="POST" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}

    <table>
      {% for field in form.visible_fields %}
        <tr>
          <th>{{ field.label_tag }}</th>
          <td>
            {{ field.errors }}
            {{ field }}
            {{ field.help_text }}
          </td>
        </tr>
      {% endfor %}
    </table>
    <input type="submit" class="btn btn-primary pull-right" value="Start job {% if not form.instance.pk %}&amp; preview {% endif %}">
    </form>
  {% else %}
    <p>We are not currently accepting new jobs. Please try again later.</p>
  {% endif %}
</div>


{% endblock %}
